table td {
  vertical-align: top;
  padding-top: 10px;
}

td.label {
  font-weight: bold;
}

#doc-viewer {
  margin-top: 1em;
}

.internet-archive {
  text-align: center;
  padding: 20px;
}

.internet-archive img {
  height: 100px;
}

@media (min-width: 600px) {
  #doc-viewer {
   /* margin-left: auto; */
  }
  #mirador-viewer {
    margin: 0 auto;
    width: 100%;
    min-height: 800px;
    position: relative;
  }
 
}