@import "../components/variables.css";
@import "../components/webvtt-player.css";
@import "../components/datalist.css";

/* Media queries for grid layouts */
/* medium to large screens — starts at 720px */
@media screen and (min-width: 45em) {
  [class^="page-episode"] > section {
    grid-column: 2 / -2;
  }

  .episode {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    column-gap: var(--spacing-base-content);
  }

  .metadata,
  .recording {
    margin: 0;
  }
}

/* large screens — 976px and up */
@media screen and (min-width: 61em) {
}

/* x-large screens — 1072px and up */
@media screen and (min-width: 67em) {
}

@media screen and (min-width: 131em) {
}
