
.exhibit .visuals {
  border-left: 1px dotted #dadada;
  text-align: center;
}
.exhibit figure.visual {
  margin: 10px 20px 30px;
}
.exhibit .visual:first-child {
  margin-top: 0;
}
.exhibit .visual img {
  max-width: 200px;
}
.exhibit .visual figcaption {
  text-align: center;
  font-size: 85%;
  font-style: italic;
}
.exhibit .related_items {
  border-top: 1px solid #dadada;
  padding-top: 2em;
  margin-top: 2em;
}
.exhibit .related_items h2 {
  margin-bottom: 0;
}
.exhibit .relateds {
  grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 2rem;
}
.exhibit .related {

}
.exhibit .related div {
  font-size: 90%;
}