.person {
  display: flex;
}

.person .image {
  min-width: 200px;
  margin-right: 20px;
}

.person .related {
  display: flex;
  align-content: flex-start;
}

.person .related div {
  margin-right: 20px;
}

