@import "../components/variables.css";
@import "../components/datalist.css";

.programs {
  margin-bottom: var(--spacing-large-content);
}

/* TOFIX: Sort out class names with episode.css */
.series-episode {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: var(--spacing-base-content);
  border-top: 1px solid var(--color-gray-300);
  padding: var(--spacing-base-content) 0;
}

.ep-time {
  text-align: right;
}

.podcast {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-top: var(--spacing-large-content);
}

.podcast .podlove-subscribe-button-airwaves {
  border: none;
  padding: 0.57rem 0.85rem;
  cursor: pointer;
  text-transform: uppercase;
}

.podcast .podlove-subscribe-button-airwaves svg {
  vertical-align: middle;
}

/* Media queries for grid layouts */
/* medium to large screens — starts at 720px */
@media screen and (min-width: 45em) {
}

/* large screens — 976px and up */
@media screen and (min-width: 61em) {
  .related_documents ul {
    columns: 2;
  }

  .related_documents li {
    padding-right: var(--spacing-large-content);
  }
}

/* x-large screens — 1072px and up */
@media screen and (min-width: 67em) {
  .series-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--spacing-xlarge-content);
  }

  .related_documents ul {
    columns: 1;
  }
}

/* xx-large screens — 2096px and up */
@media screen and (min-width: 131em) {
}

/* .alpha-list {
  grid-template-columns: repeat(auto-fill, minmax(38px, 1fr));
  grid-gap: 0;
  margin-bottom: 1.5rem;
}

.alpha-list a {
  justify-self: stretch;
  border: 1px solid #C4C4C4;
  border-left: none; 
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.alpha-list a:first-child {
  border-left: 1px solid #C4C4C4;
}

.alpha-list a:hover {
  background-color: #e0ca59;
  color: #fff;
}

.alpha-list-section ul {
  padding-left: 1rem;
  list-style: none;
}

.alpha-list-section li {
}

.alpha-list-section li:before {
  content: "\2022"; 
  color: #555;
  font-size: 19px;
  line-height: 1.3;
  display: inline-block;
  width: 1rem;
  margin-left: -1rem;
  vertical-align: middle;
}

.section-header {
  display: block;
  position: relative;
  height: 35px;
  vertical-align: middle;
  border-bottom: 1px solid #C4C4C4;
}

.section-header a:first-of-type {
  font-size: 22px;
}

.section-header a.back {
  position: absolute;
  float:right;
  bottom: 3px; 
  right: 0;
  text-transform: uppercase;
  font-size: 10px;
}

.episode {
  display: grid;
  grid-template: auto / 10em 1fr 10em;
  border-top: 1px solid rgba(0,0,0,.1);
}

.episode:last-child {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.pgm-eps .ep-date {
  grid-column: 1;
}

.pgm-eps .ep-title {
  grid-column: 2;
}

.pgm-eps .ep-time {
  grid-column: 3;
  justify-self: end;
  align-self: start;
}

.pgm-eps span {
  margin: 0;
  padding: .3em .7em .3em 0;
}

.pgm-meta {
  margin-top: 40px;
}

.pgm-meta dl {
  grid-template: auto / 10em 1fr;
}

.podcast {
  margin-top: 2rem;
}
 */
