.contributors {
  grid-row-gap: 0;
}
#contributors ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}
#contributors ul li {
  margin-bottom: 2px;
}
#contributors .columns ul {
  margin-top: 0;
}
.project-team {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-row-gap: 0;
}
@media only screen and (max-width: 600px) and (min-width: 501px)  {
  .contributors li {
    font-size: 13px;
  }
}