@import "../components/variables.css";

.page-exhibits,
.exhibits {
  margin: 0 auto;
  margin-top: var(--spacing-large-content);
}

.exhibits {
  display: grid;
}

/* .exhibits-toc {
  text-align: center;
} */

.exhibits-toc li {
  margin: 0.65rem;
  margin-bottom: var(--spacing-base-content);
}

.exhibits-toc a,
.exhibits-toc a:visited {
  color: var(--color-gray-900);
  vertical-align: bottom;
}

/* medium to large screens — starts at 720px */
@media screen and (min-width: 45em) {
  .exhibits {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .exhibits-toc {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17.85rem, 1fr));
    column-gap: var(--spacing-base-content);
  }
}

/* large screens — 976px and up */
@media screen and (min-width: 61em) {
}

/* x-large screens — 1072px and up */
@media screen and (min-width: 67em) {
}
