@import "../components/variables.css";

.site-intro {
  font-size: 1.57rem;
  margin: 0 auto;
  margin-bottom: var(--spacing-large-content);
  text-align: center;
}

.site-intro > * {
  margin-bottom: 0;
}

#site-head {
  font-family: "PT Sans Narrow", "Open Sans", Gotham, Helvetica Neue, Helvetica,
    Arial, "sans-serif";
  font-size: 4.14rem;
  line-height: 1.1;
}

.featured-exhibits-container {
  border-bottom: 1px solid var(--color-gray-300);
}

.featured-exhibits-container .exhibit-summary-card {
  background-color: var(--color-gray-900);
  color: var(--color-gray-100);
  padding-bottom: 0;
}

.featured-exhibits .exhibit-summary-card:first-child {
  border-top-right-radius: 4rem;
}

.featured-exhibits .exhibit-summary-card:first-child h2 {
  font-size: 2.14rem;
  margin-bottom: 0;
  padding-top: var(--spacing-small-content);
}

.featured-exhibits .exhibit-summary-card:first-child .exhibit-card-meta {
  margin-bottom: 1.31rem;
}

.featured-exhibits .exhibit-summary-card:first-child .excerpt {
  padding-bottom: var(--spacing-base-content);
}

.featured-exhibits .exhibit-summary-card:not(:first-child) {
  display: flex;
  flex-flow: column-reverse;
  padding-top: 0;
  justify-content: stretch;
}

.featured-exhibits .exhibit-summary-card:not(:first-child) .exhibit-card-meta {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}

.featured-exhibits .exhibit-summary-card:not(:first-child) h2 {
  padding-top: var(--spacing-large-content);
}

.featured-exhibits .exhibit-summary-card:not(:first-child) .excerpt,
.featured-exhibits
  .exhibit-summary-card:not(:first-child)
  .exhibit-card-meta
  > p {
  display: none;
}

.featured-exhibits .exhibit-summary-card:first-child .exhibit-image {
  margin-bottom: var(--spacing-base-content);
}

.featured-exhibits .exhibit-summary-card:not(:first-child) img {
  object-fit: contain;
}
/* .featured-exhibits {
  margin: 0 auto;
}

.featured-exhibits h2 {
  margin-bottom: 0;
}

.featured-exhibits > h2 {
  background-color: var(--color-brand-primary);
  border-top-left-radius: 4rem;
  border-bottom: 0.33rem solid var(--color-brand-900);
  font-style: italic;
  padding: 0.67rem 1rem 0.67rem 0;
  text-align: right;
}

.featured-exhibits-container {
  background-color: var(--color-brand-primary);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} */

/* .featured-exhibits-container .exhibit-summary-card {
  background-color: var(--color-gray-900);
  color: var(--color-gray-100);
  border-top: none;
  margin-bottom: 0;
  overflow-y: hidden;
  padding: 0;
} */

/* .featured-exhibits-container .exhibit-summary-card:first-child {
  grid-template-columns: repeat(12, 1fr);
  grid-column: 1 / span 4;
} */

/* .featured-exhibits-container .exhibit-summary-card:not(:first-child),
.featured-exhibits-container #exhibit-link {
  grid-column: 1 / span 4;
  min-height: unset;
} */

/* .featured-exhibits-container #exhibit-link {
  display: inline-block;
  padding: var(--spacing-base-content) 0;
} */

/* .featured-exhibits-container a,
.featured-exhibits-container a:visited {
  color: var(--color-brand-primary);
} */

/* .featured-exhibits-container .exhibit-card-meta {
  grid-column: 1 / span 12;
  grid-row: 1;
  z-index: 2;
  padding-left: 0;
  padding-right: 0;
}

.featured-exhibits-container .exhibit-card-meta h2,
.featured-exhibits-container .exhibit-card-meta p {
  background: linear-gradient(to right, #000, var(--color-gray-900));
  padding: 0 var(--spacing-base-content);
}

.featured-exhibits-container .exhibit-card-meta h2 {
  padding-top: var(--spacing-small-content);
}

.featured-exhibits-container .exhibit-card-meta p {
  padding-bottom: var(--spacing-small-content);
}

.featured-exhibits-container .exhibit-image {
  grid-column: 1 / span 5;
  grid-row: 1;
}

.featured-exhibits .excerpt {
  grid-column: 6 / span 6;
  grid-row: 1;
  padding: var(--spacing-base-content);
} */

/* .featured-exhibits-container .exhibit-summary-card:not(:first-child) .excerpt {
  display: none;
} */

/* .featured-exhibits-container
  .exhibit-summary-card:not(:first-child)
  .exhibit-image {
  display: none;
}

.featured-exhibits-container
  .exhibit-summary-card:not(:first-child)
  .more-link {
  display: none;
}

#exhibit-link {
  color: var(--color-gray-900);
  font-size: 1.18rem;
  text-align: center;
  text-decoration: none;
}

#exhibit-link:visited {
  color: var(--color-gray-900);
}

#exhibit-link::after {
  content: "…";
  padding-left: 0.33rem;
} */

.below-the-fold {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--spacing-small-content);
}

.internal-jump-links {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.18rem;
  margin: 0 auto;
  min-height: 7.15rem;
  padding: var(--spacing-xlarge-content) 0;
  position: relative;
  text-align: center;
  z-index: 0;
}

.internal-jump-links a,
.internal-jump-links a:visited {
  color: inherit;
  text-decoration: none;
}

.label {
  font-weight: bold;
}

/* medium to large screens — starts at 720px */
@media screen and (min-width: 45em) {
  /* .featured-exhibits {
    max-width: calc(var(--width-breakpoint-1) * 1.5);
  }

  .featured-exhibits-container .exhibit-summary-card:not(:first-child),
  .featured-exhibits-container #exhibit-link {
    grid-column: unset;
  }

  .featured-exhibits-container #exhibit-link {
    padding-top: 6rem;
  }

  .featured-exhibits-container .exhibit-image {
    display: flex;
    align-items: center;
    padding-top: 5rem;
  }

  .featured-exhibits-container
    .exhibit-summary-card:not(:first-child)
    .exhibit-image {
    display: block;
    grid-column: 1 / span 4;
  }

  .featured-exhibits .excerpt {
    padding-top: 5rem;
  } */

  .below-the-fold {
    grid-column: 3 / -3;
  }
}

/* large screens — 976px and up */
@media screen and (min-width: 61em) {
  .featured-exhibits-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(18rem, 1fr));
    gap: var(--spacing-large-content);
    grid-template-areas:
      "hero hero hero"
      "featured-2 featured-3 featured-4";
  }

  .featured-exhibits .exhibit-summary-card:first-child {
    grid-area: hero;
    column-gap: var(--spacing-base-content);
    margin-bottom: 0;
  }

  .featured-exhibits .exhibit-summary-card:first-child .exhibit-image {
    grid-column: span 2;
  }

  .featured-exhibits .exhibit-summary-card:first-child .excerpt {
    grid-column: span 2;
    padding-top: 0;
  }

  .featured-exhibits .exhibit-summary-card:nth-child(2) {
    grid-area: featured-2;
  }

  .featured-exhibits .exhibit-summary-card:nth-child(3) {
    grid-area: featured-3;
  }

  .featured-exhibits .exhibit-summary-card:nth-child(4) {
    grid-area: featured-4;
  }
  /* .featured-exhibits {
    max-width: calc(var(--width-breakpoint-2) * 1.5);
  }

  .featured-exhibits-container .exhibit-summary-card:not(:first-child) {
    max-height: 14rem;
  } */

  .below-the-fold section:nth-child(1) {
    border-right: 1px solid var(--color-gray-300);
    grid-column: span 8;
  }

  .below-the-fold section:nth-child(2) {
    grid-column: span 4;
  }

  .internal-jump-links {
    border-top: none !important;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding-top: 0;
  }
}

/* x-large screens — 1072px and up */
@media screen and (min-width: 67em) {
  /* .featured-exhibits {
    max-width: calc(var(--width-breakpoint-3) * 1.5);
  }

  .featured-exhibits-container .exhibit-summary-card:first-child {
    max-height: 28.5rem;
  } */
}

@media screen and (min-width: 131em) {
  .below-the-fold {
    grid-column: 5 / -5;
  }
}

/* .featured-exhibits-container .exhibit-image::after {
  background-color: var(--color-brand-900);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  width: 100%;
} */

/* .carousel {
}
.carousel img {
  margin: 15px;
}
button.slick-arrow {
}
#featured div {
  padding: 1em;
  border: 1px solid rgba(224, 202, 89, 0.3);
  margin-bottom: 1rem;
  background-color: rgba(224, 202, 89, 0.25);
}
#featured p {
  grid-gap: 0.5rem;
  margin-bottom: 0.5rem;
}
#featured img {
  align-self: stretch;
  justify-self: stretch;
}
.caption {
  display: block;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.slick-prev,
.slick-next {
  width: 25px;
  height: 25px;
}
.slick-prev:before,
.slick-next:before {
  color: #444;
  font-size: 25px;
} */
