.exp-panel {
  
}
.MuiExpansionPanel-root {
  border-radius: 0;
  box-shadow: none;
}
.MuiExpansionPanel-root.Mui-expanded {
  margin: 0 0;
}
.MuiExpansionPanelSummary-root {
  
}
.MuiButtonBase-root {
  
}
.MuiExpansionPanelSummary-content {
  
}
.section-heading {
  font-weight: 600;
}
.section-content {
  
}
.MuiPaper-root {
  
}
