
.MuiListItem-button.MuiButtonBase-root {
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 2px solid #fff;
}
.MuiList-padding .MuiList-root {
  margin-left: 20px;
}
/* content */
.MuiCollapse-container .MuiTypography-body1 {
  font-size: 0.875rem;
}

article .li-text .MuiCollapse-wrapperInner,
article .li-box .MuiCollapse-wrapperInner {
  padding: 8px 16px; 
}
.MuiCollapse-container .MuiCollapse-wrapperInner :not(ul.MuiList-root) .MuiListItemText-root .MuiTypography-body1 {
  font-size: 0.875rem;
  font-family: inherit;
}
/* buttons */
.MuiListItem-button .MuiTypography-body1 {
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
}
.MuiListItem-button .MuiTypography-body2 {
  font-size: 1rem;
  font-family: inherit;
  font-weight: bold;
}
/* tables */
.MuiCollapse-wrapper dl {
  display: grid;
  grid-template: auto / 10em 1fr;
}
.MuiCollapse-wrapper dt {
  background-color: rgba(0, 0, 0, 0.02);
  grid-column: 1;
  font-weight: bold;
}
.MuiCollapse-wrapper dd {
  background-color: transparent;
  grid-column: 2;
}
.MuiCollapse-wrapper dt, .MuiCollapse-wrapper dd {
  margin: 0;
  padding: .3em .7em;
  border-top: 1px solid rgba(0,0,0,.1);
}
/* box description */
.li-box .MuiCollapse-wrapperInner {
  display: grid;
  grid-template: auto / 6fr 1fr;
}
.li-box .MuiCollapse-wrapperInner a {
  justify-self: end;
  align-self: start;
}

.li-box .button {
  padding: 6px 10px;
  margin-top: 0;
}

.folder {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.folder-title {
  width: 80%;
}

.folder-link {
  width: 20%;
  text-align: right;
}

.items {
  margin-top: 10px;
}

.item {
  margin-left: 10px;
  margin-top: 5px;
}

.folder-link a.button {
  padding: 2px 3px 2px 3px; 
  margin: 0px;
}