@import "../components/variables.css";

.MuiListItem-button.MuiButtonBase-root {
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 2px solid #fff;
}
.MuiList-padding .MuiList-root {
  margin-left: 20px;
}

/* content */
.MuiCollapse-container .MuiTypography-body1 {
  font-size: 1rem;
}
section .li-text .MuiCollapse-wrapperInner,
section .li-box .MuiCollapse-wrapperInner {
  padding: 8px 16px;
}
.MuiCollapse-container
  .MuiCollapse-wrapperInner
  :not(ul.MuiList-root)
  .MuiListItemText-root
  .MuiTypography-body1 {
  font-size: 1rem;
  font-family: inherit;
}
li[class^="folder-naeb-"],
li[class*=" folder-naeb-"] {
  padding-left: 0px;
}

/* buttons */
.MuiListItem-button .MuiTypography-body1 {
  font-size: 1.14rem;
  font-family: inherit;
  font-weight: bold;
}
.MuiListItem-button .MuiTypography-body2 {
  font-size: 1.14rem;
  font-family: inherit;
  font-weight: bold;
}

/* tables */
.MuiCollapse-wrapper dl {
  display: grid;
  grid-template: auto / 10em 1fr;
}
.MuiCollapse-wrapper dt {
  background-color: rgba(0, 0, 0, 0.02);
  grid-column: 1;
  font-weight: bold;
}
.MuiCollapse-wrapper dd {
  background-color: transparent;
  grid-column: 2;
}
.MuiCollapse-wrapper dt,
.MuiCollapse-wrapper dd {
  margin: 0;
  padding: 0.3em 0.7em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* box description */
.li-box .MuiCollapse-wrapperInner {
  display: grid;
  grid-template: auto / 6fr 1fr;
}
.li-box .MuiCollapse-wrapperInner a {
  justify-self: end;
  align-self: start;
}
.li-box .button {
  padding: 6px 10px;
  margin-top: 0;
}
.folder {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 0.5rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.folder.has-items {
  grid-row-gap: 0;
}
.MuiList-root li:last-child .folder {
  border-bottom: 0;
  padding-bottom: 0.25rem;
}
.MuiList-root li:first-child .folder {
  margin-top: 0.75rem;
}
.folder-title {
  margin-bottom: 0.5em;
}
.folder-description {
  font-size: 1rem;
}
.folder-link {
  justify-self: right;
}
.folder-items .item:first-child {
  margin-top: 10px;
}
.folder-item {
  margin-left: 10px;
  margin-top: 5px;
}
.folder-link a.button {
  padding: 3px 7px;
  margin: 0px;
}
