.themes {
  grid-column-gap: 2rem;
  grid-row-gap: 1.5rem;
  justify-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.theme {
  justify-self: stretch;
  text-align: center;
  background-color: #e0ca59;
  padding: 8px 12px;
}
.theme:hover {
  background-color: #e0c959d3;
  cursor: pointer;
}