@import "../components/variables.css";

.search {
  margin: 0 auto;
}

.search,
.themes {
  padding: var(--spacing-small-content);
}

.themes {
  margin-top: var(--spacing-large-content);
  display: grid;
}

.theme-group {
  margin-bottom: var(--spacing-xlarge-content);
}

.theme-group h3 {
  border-bottom: 1px solid var(--color-gray-500);
  margin-bottom: var(--spacing-base-content);
  padding-bottom: var(--spacing-small-content);
}

.theme {
  overflow-wrap: break-word;
  padding: 0.5rem 0.65rem;
  text-decoration: underline;
}

.theme:hover {
  background-color: var(--color-brand-primary);
  cursor: pointer;
}

/* Media queries for grid layouts */
/* medium to large screens — starts at 720px */
@media screen and (min-width: 45em) {
  .themes {
    grid-template-columns: 1.2fr 1.2fr 1fr;
    grid-template-rows: auto;
    column-gap: var(--spacing-large-content);
    grid-template-areas:
      "theme-1 theme-1 theme-1"
      "theme-2 theme-3 theme-4"
      "theme-5 theme-6 theme-6";
  }

  .ArtsHumanitiesMedia {
    grid-area: theme-1;
  }

  .ArtsHumanitiesMedia .theme-children {
    display: grid;
    column-gap: var(--spacing-large-content);
    grid-template-columns: 1.2fr 1.2fr 1fr;
  }

  .CivicsLawGovernment {
    grid-area: theme-2;
  }

  .GlobalHistoryCulture {
    grid-area: theme-3;
  }

  .Science {
    grid-area: theme-4;
  }

  .SocialScience {
    grid-area: theme-5;
  }

  .USHistoryCulture {
    grid-area: theme-6;
  }
}

.results-wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: var(--spacing-large-content);
}

.facets {
  grid-column: span 4;
}

.results {
  grid-column: span 8;
}

/* large screens — 976px and up */
@media screen and (min-width: 61em) {
}

/* x-large screens — 1072px and up */
@media screen and (min-width: 67em) {
}
