@import "../components/variables.css";

.viz-screencap {
  margin-bottom: var(--spacing-base-content);
}

.label-shape {
  fill: var(--color-brand-primary);
}

/* medium to large screens — starts at 720px */
@media screen and (min-width: 45em) {
  .visualizations {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: var(--spacing-xlarge-content);
  }

  .visualizations > div:nth-child(2) {
    margin: 0 var(--spacing-base-content);
  }

  .viz-label {
    position: absolute;
    top: 60%;
    left: 0%;
    opacity: 90%;
  }

  #naeb-timeline {
    position: relative;
    top: 0;
    left: 0;
    overflow-y: hidden;
  }

  #naeb-map {
    position: relative;
    top: 0;
    left: 0;
    overflow-y: hidden;
  }

  #naeb-map .viz-label {
    top: 30%;
  }

  #content-standards {
    position: relative;
    top: 0;
    left: 0;
    overflow-y: hidden;
  }

  /* Child page styles */
  #timeline {
    min-height: 38rem;
  }

  #map {
    width: 100%;
  }

  .embed-host {
    margin: 0;
    min-height: 38rem;
  }
}

/* large screens — 976px and up */
@media screen and (min-width: 61em) {
}

/* x-large screens — 1072px and up */
@media screen and (min-width: 67em) {
}

/* crazy-large screens — 2096px and up */
@media screen and (min-width: 131em) {
  .full-bleed {
    grid-column: 4 / 13;
  }
}
