@import "../components/variables.css";

.page-visualization-naeb-timeline > * {
  grid-column: 1 / -1;
  padding: var(--spacing-small-content);
}

.viz-screencap {
  margin-bottom: var(--spacing-base-content);
}

/* medium to large screens — starts at 720px */
@media screen and (min-width: 45em) {
  .page-visualization-naeb-timeline > * {
    grid-column: 4 / 14;
    padding: 0;
  }

  .full-bleed {
    grid-column: 1 / -1;
    margin: 0 auto;
  }

  .visualizations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .visualizations div:first-child {
    grid-column: 1 / -1;
  }

  #naeb-timeline {
    grid-column: 1 / -1;
  }

  #naeb-map {
    grid-column: 1 / 3;
  }

  #content-standards {
    grid-column: 3 / -1;
  }

  #timeline {
    grid-column: 1 / -1;
    min-height: 38rem;
  }

  #map {
    width: 100%;
  }

  .embed-host {
    grid-column: 2 / 16;
    min-height: 38rem;
  }
}

/* large screens — 976px and up */
@media screen and (min-width: 61em) {
}

/* x-large screens — 1072px and up */
@media screen and (min-width: 67em) {
}
