@import "variables.css";

.exhibit-summary-card {
  background-color: var(--color-full-white);
  border-top: 0.33rem solid var(--color-gray-800);
  margin-bottom: 2rem;
  min-height: 15rem;
  padding: var(--spacing-base-content);
  padding-bottom: var(--spacing-large-content);
  position: relative;
  z-index: 1;
}

.exhibit-card-body {
  padding-bottom: var(--spacing-base-content);
}

.exhibit-card-meta h2 {
  color: var(--color-brand-primary);
}

.exhibit-image {
  margin: 0 auto;
}

.exhibit-card-body .excerpt {
  margin-top: var(--spacing-base-content);
}

.exhibit-summary-card a,
.exhibit-summary-card a:visited {
  text-decoration: none;
}

.more-link {
  position: absolute;
  bottom: var(--spacing-base-content);
  right: var(--spacing-base-content);
}

/* medium to large screens — starts at 720px */
@media screen and (min-width: 45em) {
  .exhibit-summary-card {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 0;
    padding-right: 0;
  }

  .exhibit-card-meta {
    padding-left: var(--spacing-base-content);
    padding-right: var(--spacing-base-content);
  }

  .excerpt {
    padding: var(--spacing-base-content);
    padding-bottom: var(--spacing-large-content);
  }

  .exhibit-card-meta,
  .exhibit-image,
  .excerpt {
    grid-column: 1 / -1;
  }
}

/* large screens — 976px and up */
@media screen and (min-width: 61em) {
}

/* x-large screens — 1072px and up */
@media screen and (min-width: 67em) {
}
