footer {
  grid-area: footer;
  max-width: 1000px; 
  padding: 0;
  padding-bottom: 40px;
  margin: 0 auto;
  text-align: center;
}
#footer_logos {
  grid-template-columns: repeat(4,  minmax(190px, 1fr));
  grid-gap: 3rem;
  margin-bottom: 30px;
}
footer p {
  font-size: 12px; 
  font-style: italic;
}