footer {
  grid-area: footer;
  padding: 30px 0 10px;
  border-top: 1px solid #dadada;
  background-color: #efefef;
}
footer section {
  max-width: 1000px; 
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
#footer_logos {
  grid-template-columns: repeat(4,  minmax(190px, 1fr));
  grid-gap: 3rem;
  margin-bottom: 30px;
}
footer p {
  font-size: 12px; 
  font-style: italic;
}