header {
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.main-logo {
    margin-left: 50%;
    transform: translateX(-50%);
}

.alt-logo {
    display: initial;
    height: 125px;
}

.main-logo {
    display: none;
}

@media screen and (min-width: 45em) {
    .alt-logo {
        display: none;
    }

    .main-logo {
        display: initial;
    }
}