@import 'site-reset.css';
@import 'variables.css';
@import 'typography.css';
@import 'grid.css';

html {
  overflow-y: scroll;
}

main {
  padding: var(--spacing-base-content);
}

main section {
  padding-top: var(--spacing-large-content);
}

/* TOFIX: Move this to a real component */
.exhibit-summary-card {
  padding: var(--spacing-base-content) 0;
}

.internal-jump-links {
  display: grid;
  gap: var(--spacing-base-content);
  padding: var(--spacing-large-content) 0;
}