@import "site-reset.css";
@import "variables.css";
@import "typography.css";
@import "grid.css";

html {
  overflow-y: scroll;
}

body {
  background-color: var(--color-gray-100);
}

.hidden {
  display: none !important;
}

main section {
  padding: var(--spacing-large-content) var(--spacing-large-content) 0
    var(--spacing-large-content);
}

ul {
  list-style: none;
}
