@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i&display=swap');
html {}
body {
  font-family: 'Open Sans', Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.6;
  color: #444;
  margin: 0;
  background-color: #f9f9f9;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
header, .main-head {
  grid-area: header;
}
.wrapper {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "footer";
}
@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "sidebar content"
      "footer  footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
.main-nav {
  grid-area: nav;
}
.content {
  grid-area: content;
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.side {
  grid-area: sidebar;
}
.main-footer {
  grid-area: footer;
}
.leader article {
  margin: 1.5rem 0 2.5rem;
}

/***** GRID *****/
.columns {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 1.5rem;
  align-items: start;
}
.columns article {
  position: relative;
}
.col_grid .col_full {
  grid-column: 1 / span 12;
}
.col-12 {
  grid-column: span 12;
}
.col-11 {
  grid-column: span 11;
}
.col-10 {
  grid-column: span 10;
}
.col-9 {
  grid-column: span 9;
}
.col-8 {
  grid-column: span 8;
}
.col-7 {
  grid-column: span 7;
}
.col-6 {
  grid-column: span 6;
}
.col-5 {
  grid-column: span 5;
}
.col-4 {
  grid-column: span 4; 
}
.col-3 {
  grid-column: span 3; 
}
.col-2 {
  grid-column: span 2; 
}
.col-1 {
  grid-column: span 1;
}
/* large */ 
@media only screen and (max-width: 900px) and (min-width: 701px)  {
  .col-12-lg {
    grid-column: span 12;
  }
  .col-11-lg {
    grid-column: span 11;
  }
  .col-10-lg {
    grid-column: span 10;
  }
  .col-9-lg {
    grid-column: span 9;
  }
  .col-8-lg {
    grid-column: span 8;
  }
  .col-7-lg {
    grid-column: span 7;
  }
  .col-6-lg {
    grid-column: span 6;
  }
  .col-5-lg {
    grid-column: span 5;
  }
  .col-4-lg {
    grid-column: span 4; 
  }
  .col-3-lg {
    grid-column: span 3; 
  }
  .col-2-lg {
    grid-column: span 2; 
  }
  .col-1-lg {
    grid-column: span 1;
  }
}
/* medium */
@media only screen and (max-width: 700px) and (min-width: 501px)  {
  .columns {
    grid-column-gap: 2rem;
  }
  .col-12-md {
    grid-column: span 12;
  }
  .col-11-md {
    grid-column: span 11;
  }
  .col-10-md {
    grid-column: span 10;
  }
  .col-9-md {
    grid-column: span 9;
  }
  .col-8-md {
    grid-column: span 8;
  }
  .col-7-md {
    grid-column: span 7;
  }
  .col-6-md {
    grid-column: span 6;
  }
  .col-5-md {
    grid-column: span 5;
  }
  .col-4-md {
    grid-column: span 4; 
  }
  .col-3-md {
    grid-column: span 3; 
  }
  .col-2-md {
    grid-column: span 2; 
  }
  .col-1-md {
    grid-column: span 1;
  }
}
/* small */
@media only screen and (max-width: 500px) and (min-width: 361px)  {
  .columns {
    grid-column-gap: 1.5rem;
  }
  .col-12-sm {
    grid-column: span 12;
  }
  .col-11-sm {
    grid-column: span 11;
  }  
  .col-10-sm {
    grid-column: span 10;
  }
  .col-9-sm {
    grid-column: span 9;
  }
  .col-8-sm {
    grid-column: span 8;
  }
  .col-7-sm {
    grid-column: span 7;
  }
  .col-6-sm {
    grid-column: span 6;
  }
  .col-5-sm {
    grid-column: span 5;
  }
  .col-4-sm {
    grid-column: span 4; 
  }
  .col-3-sm {
    grid-column: span 3; 
  }
  .col-2-sm {
    grid-column: span 2; 
  }
  .col-1-sm {
    grid-column: span 1;
  }
}
/* x-small */
@media only screen and (max-width: 360px) {
  .columns {
    grid-column-gap: 1rem;
  }
  .col-12-xs {
    grid-column: span 12;
  }
  .col-11-xs {
    grid-column: span 11;
  }  
  .col-10-xs {
    grid-column: span 10;
  }
  .col-9-xs {
    grid-column: span 9;
  }
  .col-8-xs {
    grid-column: span 8;
  }
  .col-7-xs {
    grid-column: span 7;
  }
  .col-6-xs {
    grid-column: span 6;
  }
  .col-5-xs {
    grid-column: span 5;
  }
  .col-4-xs {
    grid-column: span 4; 
  }
  .col-3-xs {
    grid-column: span 3; 
  }
  .col-2-xs {
    grid-column: span 2; 
  }
  .col-1-xs {
    grid-column: span 1;
  }
}
dl {
  display: grid;
}
dt {
  grid-column: 1;
  font-weight: bold;
}
dd {
  grid-column: 2;
}
dt, dd {
  margin: 0;
  padding: .5em .7em .5em 0;
  border-top: 1px solid #dedede
}
dt:last-of-type, dd:last-of-type {
  border-bottom: 1px solid #dedede
}
a {
  text-decoration: none;
  color: #b9a22a;
}
a:hover {
  color: #e0ca59;
}
p {
  margin-top: 0;
  padding: 0;
}
.button {
  background-color: #e0ca59;
  padding: 8px 15px;
  margin-top: 12px;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #444;
}
.button:hover {
  background-color: rgba(224, 202, 89, 0.8);
  color: #444;
}
.columns .button {
  justify-self: start;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: bold;
  color: #333;
}
h1 {
  font-size: 22px;
  line-height: 1.4em;
  margin-top: 1em;
  margin-bottom: 0;
  border-bottom: 1px solid #dadada;
  padding-bottom: 1em;
}
h2 {
  font-size: 20px;
  line-height: 1.2em;
}
h3 {
  font-size: 16px;
  line-height: 1.1em;
}
h4 {
  font-size: 14px;
  line-height: 1em;
}
input[type=text]  { 
  background-color: #fff;
  border: 1px solid #444;
  width: calc(100% - 16px);
  padding: 8px;
  font-size: 16px;
}
.hidden {
  display: none;
}