@import "variables.css";

.header-menu-button {
  background: none;
  border: 1px solid var(--color-gray-900);
  border-radius: 5px;
  display: block;
  padding: var(--spacing-base-content) var(--spacing-large-content);
  position: absolute;
  right: 0;
  top: 2rem;
}

nav {
  text-align: center;
}

#main-nav-menu {
  background-color: #fff;
  border-bottom: 1px solid var(--color-gray-300);
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu {
  display: none;
}

.menu-open {
  display: flex;
  flex: 1 0 100%;
  flex-direction: column;
  justify-content: flex-start;
}

nav ul li {
  display: inline-block;
  position: relative;
  margin: 0 1rem;
  padding: 0 1rem 0 0;
}

.main-nav a {
  border-bottom: 3px solid transparent;
  color: var(--color-gray-600);
  display: block;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.85rem 0.7rem 0.7rem 0.7rem;
}

.main-nav a:hover,
.main-nav a.active {
  border-bottom-color: var(--color-brand-primary);
}

@media screen and (min-width: 45em) {
  .menu {
    display: flex;
  }

  #main-nav-menu {
    flex-direction: row;
    justify-content: center;
  }
}
