nav {
    padding: 0 1rem;
}

.main-nav-menu {
    display: flex;
    flex: 1 0 100%;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
}

nav ul li {
    position: relative;
    margin: 0;
    padding: 0 1rem 0 0;
}