@import "./variables.css";

.page-search .columns {
  grid-column-gap: 2rem;
}
.search .facet-panel {
  padding: 10px 12px;
  margin-bottom: 10px;
  border: 1px dotted #d8d8d8;
  background-color: #fff;
}
.search .facet-panel.item-total,
.search .facet-panel.item-sort {
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-column-gap: 0.25rem;
  background-color: #ececec;
  font-size: 14px;
  text-transform: uppercase;
}
.search .facet-label {
  color: #333333;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.search .facet-item {
  display: grid;
  grid-template-columns: 25px 7fr 1fr;
  grid-column-gap: 0.25rem;
  grid-row-gap: 1rem;
  position: relative;
  padding: 4px 0;
  font-size: 9pt;
  border-bottom: 1px solid #dedede;
}
.search .facets .item-count {
  justify-self: end;
}
.search .facets input {
  justify-self: start;
}

.more-facets {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.search .facets button,
.close-modal button {
  font-size: 0.64rem;
  border: none;
  padding: var(--spacing-small-content);
}
.search .facets label {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  overflow: hidden;
}
.search .facet-item:last-of-type,
.search .facet-item:last-of-type {
  border-bottom: none;
}
.facet-firehose {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  column-gap: var(--spacing-base-content);
}
.close-modal {
  width: 100%;
  text-align: right;
  margin-bottom: var(--spacing-base-content);
}

.facet-firehose .facet-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--spacing-small-content);
  border-bottom: 1px solid var(--color-gray-300);
}
.facet-firehose .facet-item div:first-child {
  flex: 1;
}
.facet-firehose .facet-item .facet-value {
  padding-left: 0.5rem;
  flex: 3;
}
.facet-firehose .facet-item .facet-count {
  padding-left: 0.5rem;
  flex: 1;
  font-weight: bold;
  text-align: right;
}

/* x-large screens — 1072px and up */
@media screen and (min-width: 67em) {
  .facet-firehose {
    grid-template-columns: repeat(4, minmax(16rem, 1fr));
  }
}

/* xx-large screens — 2096px and up */
@media screen and (min-width: 131em) {
}
