@charset "UTF-8";

.search input {
  grid-column: 1 / span 3;
  padding: 5px;
  background-color: #fff;
  margin-top: 1.5rem;
  font-size: 16px;
}

.search .facets {
  grid-column: 1 / span 1;
}

.search .results {
  grid-column: 2 / span 2;
}
