:root {
  --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  --color-brand-primary: #e0ca59;
  --color-brand-900: #c7aa14;
  --color-brand-100: #faeeaf;
  --color-gray-900: #363636;
  --color-gray-700: #595959;
  --color-gray-500: #808080;
  --color-gray-300: #dedede;
  --color-gray-100: #fafafa;
  --color-full-white: #fff;
  --spacing-base-content: 1rem;
  --spacing-small-content: 0.67rem;
  --spacing-large-content: calc(var(--spacing-base-content) * 2);
  --spacing-xlarge-content: calc(var(--spacing-base-content) * 4);
  --width-breakpoint-1: 27rem;
  --width-breakpoint-2: 36rem;
  --width-breakpoint-3: 40rem;
}
