:root {
    --font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --color-brand-primary: #E0CA59;
    --color-gray-900: #363636;
    --color-gray-700: #595959;
    --color-gray-500: #808080;
    --color-gray-300: #DEDEDE;
    --color-gray-100: #FAFAFA;
    --spacing-base-content: 1rem;
}